
.cyanBG{
  background-color: cyan;
}

.magentaBG{
  background-color: magenta;
}

.yellowBG{
  background-color: yellow;
}

.keyBG{
  background-color: black;
  color: white;
}

.whiteBG{
  background-color: white;
}

.menuBar{
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.menuButton{
  line-height: 50px;
}

.menuButton:hover{
  background-color: rgb(240, 240, 240);
}

.followMenuBar{
  background-color: #CCCCCC;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}

.twitterButton{
  background-color: #00B6F1;
  text-align: center;
  padding-top: 5px;
  color: white;
  width: 30px;
  height: 30px;
}ß

.facebookButton{
  background-color: #3a599a;
  text-align: center;
  padding-top: 5px;
  color: white;
  width: 30px;
  height: 30px;
}

.siteFooter{
  background-color: #F2F2F2;
  height: 100px
}

img{
  width: 100%;
}
@media(max-width: 600px){
  imgß
}
