.form-control {
  border-radius: 25px;
  border: 1.5px solid black;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



#motto {
  width: 300px;
  height: 150px;
  background-color: #eee;
  margin: 15px;
  border: .5px solid #777;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.team {
 padding: 20px;
}

.email {
  text-align: center;
}

.footer{
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
}


.copy-right {
  text-align: center;  
}
