body {
  text-align: center;
}
p {
  vertical-align: top;
}
.dropdown-toggle:hover {
  background-color: gray;
}
.bx-viewport {
  padding: 0;
}

.row2images, .row4images {
  width: 74%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-fluid {
  margin: 0 auto;
  width: 100%;
}

.navbar {
  height: 40px;
}
#microsoftlogo {
  width: 100%;
  height: auto;
  padding: 10px;
}
#banner {
  width: 100%
  height: 250px;
}
#rowone {
  padding: 10px;
}
#topfooter {
  background-color: gray;
}
#bottomfooter {
  background-color: #BBB8B2;
}
img {
  width: 100%;
  height: auto;
}
form {
  vertical-align: top;
  padding: 10px;
  display: inline-block;
}
i {
  display: inline-block;
}
